# Python
__pycache__/
*.py[cod]
*.pyo
.eggs/
*.egg-info/

# Virtual environment
venv/
env/
.env

# Trained model & vocabs (too large for git)
*.pt
*.pth
*.json

# Logs & outputs
loss_curve.png
*.log



# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db